@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&subset=cyrillic');


*{
	font-family: 'Montserrat', sans-serif;
}

BODY{}

/* scrollbar */

::-webkit-scrollbar-track{
	background-color: #FFF;
}
::-webkit-scrollbar{
	width: 12px;
	border: none;
	background-color: #EEE;
}
::-webkit-scrollbar-thumb{
	background-color: #CCC;
	border: none;
}

/* tmaps overwrite */

.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(images/layers-2x.png) !important;
    background-size: 26px 26px;}
    
/* header */

.book .book-header .btn:hover {
  color:#C54409;
}

.book .book-header .btn:last-of-type {
  display:none !important;
}
  
/* page layout */

p {
  text-align:left;
  margin-top:0;
}

.body-inner {
  overflow-x:hidden;
  }
  
.page-inner{
  width:100% !important;
  max-width:none !important;
  padding:0 !important;
}

.page-inner section {
  padding:0 !important;
  color:black;
  margin-top:50px;
}

.chapter_section {
  max-width:800px;
  margin:auto;
  padding:0 42px 0 42px;
  overflow-x:hidden;
}

.intro_section {
  max-width:800px;
  margin:auto;
  padding:0 42px 0 42px;
  overflow-x:hidden;
}

/* references layout */

.references {
  max-width:800px;
  margin:auto;
  padding:0 42px 0 42px;
}

.chapter_section + h3 {
  display:none;
}

@media only screen and (max-width: 576px) {
  .chapter_section, .intro_section, .references .cover-container {
    padding:0 21px 0 21px;
  }
  
  h1, h2 {
    margin-top:2em!important;
  }}
/* supress code output */
.chapter_section pre {
  display: none;
}

h2{ max-width: 100%; }
h3{ max-width: 100%; }

.book .book-body .page-wrapper .page-inner section.normal h2{
	font-size: 2em;
	line-height: 1.2em;
	font-weight: bold !important;
}

.book .book-header h1{ display: none; }

/* menu */

nav > ul > li > a{
	font-weight: bold;
	text-transform: uppercase;
}
nav > ul > li > a b{ display: none; }

nav > ul > li{
	*border-bottom: 1px solid #CCC;
}

.book .book-summary ul.summary a{ font-weight: 500;}
.book .book-summary ul.summary a b{ padding-right: 5px; }

.book .book-summary ul.summary > li.chapter > a{
	font-size: 1.2em;
	white-space: normal;
}
.book .book-summary ul.summary > li.chapter:nth-child(1) > a{ color: #C54409; border-bottom: 2px solid #C54409; }
.book .book-summary ul.summary > li.chapter:nth-child(2) > a{ color: #482683; border-bottom: 2px solid #482683; }
.book .book-summary ul.summary > li.chapter:nth-child(3) > a{ color: #369B9E; border-bottom: 2px solid #369B9E; }
.book .book-summary ul.summary > li.chapter:nth-child(4) > a{ color: #79AC2C; border-bottom: 2px solid #79AC2C; }
.book .book-summary ul.summary > li.chapter:nth-child(5) > a{ color: #BC9417; border-bottom: 2px solid #BC9417; }
.book .book-summary ul.summary > li.chapter:nth-child(6) > a{ color: #A01B17; border-bottom: 2px solid #A01B17; }
.book .book-summary ul.summary > li.chapter:nth-child(7) > a{ color: #96CBD2; border-bottom: 2px solid #96CBD2; }
.book .book-summary ul.summary > li.chapter:nth-child(8) > a{ color: #A8ACA6; border-bottom: 2px solid #A8ACA6; }

.book .book-summary ul.summary > li.chapter:nth-child(1) > ul > li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(1) > ul ul li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(1) a:hover{ color: #C54409; }
.book .book-summary ul.summary > li.chapter:nth-child(2) > ul > li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(2) > ul ul li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(2) a:hover{ color: #482683; }
.book .book-summary ul.summary > li.chapter:nth-child(3) > ul > li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(3) > ul ul li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(3) a:hover{ color: #369B9E; }
.book .book-summary ul.summary > li.chapter:nth-child(4) > ul > li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(4) > ul ul li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(4) a:hover{ color: #79AC2C; }
.book .book-summary ul.summary > li.chapter:nth-child(5) > ul > li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(5) > ul ul li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(5) a:hover{ color: #BC9417; }
.book .book-summary ul.summary > li.chapter:nth-child(6) > ul > li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(6) > ul ul li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(6) a:hover{ color: #A01B17; }
.book .book-summary ul.summary > li.chapter:nth-child(7) > ul > li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(7) > ul ul li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(7) a:hover{ color: #96CBD2; }
.book .book-summary ul.summary > li.chapter:nth-child(8) > ul > li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(8) > ul ul li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(8) a:hover{ color: #A8AcA6; }


.book .book-summary ul.summary > li.chapter:nth-child(1) a b{ color: #C54409; }
.book .book-summary ul.summary > li.chapter:nth-child(2) a b{ color: #482683; }
.book .book-summary ul.summary > li.chapter:nth-child(3) a b{ color: #369B9E; }
.book .book-summary ul.summary > li.chapter:nth-child(4) a b{ color: #79AC2C; }
.book .book-summary ul.summary > li.chapter:nth-child(5) a b{ color: #BC9417; }
.book .book-summary ul.summary > li.chapter:nth-child(6) a b{ color: #A01B17; }
.book .book-summary ul.summary > li.chapter:nth-child(7) a b{ color: #96CBD2; }
.book .book-summary ul.summary > li.chapter:nth-child(8) a b{ color: #A8AcA6; }


.book .book-summary ul.summary > li > ul{ padding: 0; }
.book .book-summary ul.summary > li > ul > li a{
      white-space: normal;
}
 /* hide title number */
h1 .header-section-number{ display: none; }

.book .book-summary{
	background: none;
}


h2 .header-section-number{
	display: block;
	color: #E6E3D9;
	font-size: 3em;
	line-height: 1em;
}

h3 .header-section-number{
	color: inherit;
	font-size: 1em;
	line-height: 1em;
}

/* Block before intro sections */

.intro_section::before{
  
        content: "";
	      display: block;
	      height: 50vh;
	      position:absolute;
	      top:0;
	      left:0;
	      right:0;
	      background-position: center top;
	      background-attachment:fixed;
	      background-repeat: no-repeat;
	      background-size: 100% auto;
}

.intro_section h2 {
        margin-top:52vh !important;
}

/* Big headers */
.intro_section h1 {
  font-size: 4.5em !important; text-transform: uppercase; line-height: 1em; 
  color:white;
  position:absolute;
	top:15vh;
	width:100%;
  max-width:800px;
  margin-top:0 !important;
  margin:auto;
}

@media only screen and (max-width: 768px) {
  
.intro_section::before {
	      height: 35vh;
}

.intro_section h1 {
  font-size:3em !important;
  top:7vh;
}
.intro_section h2 {
        margin-top:37vh !important;
}

}

@media only screen and (max-width: 576px) {
  .intro_section h1 {
  font-size:1.7em !important;
  top:65px;
}
}
  
/* authors and print button*/
  .authors {
  display:grid;
  grid-template-columns: auto 175px;
  margin-top:-10px;
  margin-bottom: 20px;
}

.author-links {
  font-size:1.2em;
}

.print-btn {
  width:100%;
  height: 40px;
  line-height:40px;
  padding:8px;
  border: solid 2px #e6e3da;
  border-top-right-radius: 8px;
  background:white;
  text-align:center;
  font-size:0.8em;
  font-weight:bold;
  text-transform:uppercase;
  text-decoration: none !important;
  color: #e6e3da !important;
}

.print-btn i {
  padding-right:10px;
}

@media only screen and (max-width: 576px) {
.authors {
  display:block;
}
  
.print-btn {
  float:none;
  max-width:175px;
}
}


/* points */
  .points {
    margin-bottom:5em;
    font-size:1.1em;
    color: #3a404a;
  }
  
  .points ul {
    list-style-type: disc;
  }
  
  .points li {
    padding:0 0 8px 0;
    font-weight:bold;
  }
  
    .points li p {
    text-align:left;
  }
  
  /* first letters */
 /* .chapter_section p:first-of-type::first-letter {
    color:#a7aca5;
    font-size:7em;
    line-height: 0.63em;
    float:left;
    margin: 10px 1px 0 0;
    font-weight:300;
  }
  
    .points p::first-letter, .authors p::first-letter, .blockquote-left p::first-letter,.blockquote-right p::first-letter,.definition-left p::first-letter,.definition-right p::first-letter, .casebox p::first-letter, .subreferences p::first-letter, .imgsource p::first-letter {
    color:inherit !important;
     font-size:inherit !important;
     margin:0 !important;
     float:none !important;
  }
  
  .chapter_section .figure p::first-letter {
    color:#777777;
    font-size:inherit;
    margin:0;
    float:none;
  }
  
/* blockquote */
  .blockquote-left {
  display:inline-block;
  float:left;
  max-width:400px;
  border-bottom: solid 10px #a7aca5;
  font-size:1.3em;
  margin:20px 15px 20px -33px;
  padding: 17px 20px 8px 20px;
  background-color:#e6e3da;
  border-top-left-radius:15px;
}

.blockquote-left p {
  text-align: left !important;
  line-height: normal;
  font-weight:500;
}
  
.blockquote-right {
  display:inline-block;
  float:right;
  max-width:400px;
  border-bottom: solid 10px #a7aca5;
  font-size:1.3em;
  margin:20px -33px 20px 15px;
  padding: 17px 20px 8px 20px;
  background-color:#e6e3da;
  border-top-right-radius:15px;
}

.blockquote-right p {
  text-align: left !important;
  line-height: normal;
  font-weight:500;
}
  
  /* definition box */
  /*.definition-left {
  display:inline-block;
  float:left;
  max-width:400px;
  font-size:1em;
  margin:10px 15px 10px -33px;
  padding: 17px 20px 8px 20px;
  font-weight:600;
  background-color:#262d36;
  color:white;
  border-top-left-radius:15px;
}

.definition-left p {
  text-align: left !important;
  line-height: normal;
}

  
.definition-right {
  display:inline-block;
  float:right;
  max-width:400px;
  font-size:1em;
  margin:10px -33px 10px 15px;
  padding: 17px 20px 8px 20px;
  font-weight:600;
  background-color:#262d36;
  color:white;
  border-top-right-radius:15px;
}

.definition-right p {
  text-align: left !important;
  line-height: normal;} /*
  
/* casebox */
.casebox {
    padding: 5px 30px 15px 30px;
    margin: 20px -30px 5px -30px;
    border-top-left-radius:15px;
    font-weight:medium;
}
.casebox h3 {
    margin-top: 0.5em;
}
/* figure caption */
p.caption {
  color: #86858a;
  margin-top: 3em !important;
  font-weight:bold;
}

/* image source and data button*/

.imgsource {
  color:#86858a;
  margin-top:10px;
  margin-bottom:3em;
  font-size:0.8em;
  display:grid;
  grid-template-columns: auto 105px;
}

.data-btn {
  width:100%;
  height: 30px;
  line-height:30px;
  padding:8px;
  border: solid 2px #e6e3da;
  border-bottom-right-radius: 8px;
  background:white;
  text-align:center;
  font-size:0.6em;
  font-weight:bold;
  text-transform:uppercase;
  text-decoration: none !important;
  color: #e6e3da !important;
}

.data-btn i {
  padding-right:5px;
}

@media only screen and (max-width: 576px) {
.imgsource {
  display:block;
}
  
.data-btn-btn {
  max-width:105px;
}
}

/* figure comment */

.figure-comment {
  margin-top:0;
  font-size:1em;
}

/* subreferences */

.subreferences {
  margin-top:4em;
  border-top:solid 5px #e6e3da;
}
.subreferences h3 {
  margin-top:1em;
  color:#3a404a !important;
  margin-bottom:3em;
}

.subreferences p {
  text-align:left;
}

/* COVER PAGE  #C54409 */

.title {
  display:none !important;
}

.cover-page {
  top:0;
  left:0;
  right:0;
  background-color:#C54409;
  color:#e9e8e1;
}

.cover-page h1 {
  display:none;
}

.cover-container {
  max-width:800px;
  margin:auto;
  padding:0 42px 0 42px;
  overflow-x:hidden;
}

#cover-hero {
  min-height:75vh;
}

#cover-hero h1 {
  display:block;
  font-size:1.5em;
  font-weight:bold;
}

#cover-hero h2 {
  font-size:5em !important;
  font-weight:bold;
  margin-top:75px !important;
}

@media only screen and (max-width: 576px) {
  
  .cover-container {
    padding:0 21px 0 21px;
  }
  
  #cover-hero h1 {
    padding-top:25px;
  }
  #cover-hero h2 {
  font-size:3em !important;
  font-weight:bold;
  margin-top:50px !important;
}
}

.poem1, .poem2 {
  width: 100%;
  padding-bottom:25px;
}

.poem1 p, .poem2 p {
  margin:auto;
  text-align:center;
}

#jaankross {
  color:#482683;
}

#cover-body {
  padding:50px 0;
  background-color:#e6e3da;
  font-weight:bold;
  color:#482683;
}

#cover-body a {
  color:#C54409;
}
#cover-footer {
  background-image: url(figures/0-intro/cover-footer.png);
  background-position: center top;
	background-repeat: no-repeat;
	background-size: auto 100%;
	min-height:600px;
  padding:2em 0;
  background-color: #C54409;;
  color:#482683;
}

.poem2 {
  padding-top:80px;
}

#handorunnel {
  color:#C54409;
}


@media only screen and (max-width: 576px) {
  .poem1, .poem2 {
  font-size:0.9em;
}

.poem1 {
  padding-top:50px;
}

.poem2 {
  padding-top:100px;
}

#cover-footer {
	background-size: auto 500px;
}
}

/* Foreword - #0872ba */

.foreword_section h2 {
	color: #0872ba;
}

.foreword_section .authors {
  border-bottom: 3px solid #0872ba;
  }
  
 .foreword_section a.print-btn {
  color: #e6e3da !important;
  text-decoration:none !important;
}

.foreword_section a.data-btn:hover {
  border: solid 2px #0872ba;
  color: #0872ba !important;
}

 .foreword_section a.data-btn {
  color: #e6e3da !important;
  text-decoration:none !important;
}

.foreword_section a.print-btn:hover {
  border: solid 2px #0872ba;
  color: #0872ba !important;
}

.president-grid-container {
  display: grid;
  grid-template-columns: auto 250px;
}
  
.president-photo-container {
  float:right;
  width:100%;
}

.president-photo-container img {
  width:100%;
  border-top-right-radius:30px;
  margin:0;
  padding-left:5px;
}

#head-lugemist {
  padding-top:100px;
  font-size:2em;
  color:#0872ba;
}

@media only screen and (max-width: 576px) {
.president-grid-container {
  display: block;
}

.president-photo-container {
  float:none;
  width:100%;
  margin:auto;
  margin-top:50px;
}

#head-lugemist {
  padding-top:50px;
}
}

/* Chapter 0 - INTRO  #C54409 */

.chapter0_section.intro_section::before{
	      background-image: url(figures/0-intro/chapter0_cover.jpg);
	      background-attachment:fixed;
}

.chapter1_section h1{ 
  color: white !important;
}

.chapter0_section .authors {
  border-bottom: 3px solid #C54409;
  }
  
.chapter0_section h2,
.chapter0_section h3
{
	color: #C54409;
}

.chapter0_section a {
	color: #C54409 !important;
}

.chapter0_section .authors a {
   color: black !important;
    text-decoration:underline !important;
 }
 
.chapter0_section .authors a:hover {
    color:#3a404a !important;
 }
 
.chapter0_section a.print-btn {
  color: #e6e3da !important;
  text-decoration:none !important;
}

.chapter0_section a.print-btn:hover {
  border: solid 2px #C54409;
  color: #C54409 !important;
}

 .chapter0_section a.data-btn {
  color: #e6e3da !important;
  text-decoration:none !important;
}

.chapter0_section a.data-btn:hover {
  border: solid 2px #C54409;
  color: #C54409 !important;
}

.bullet-heading::before  {
  content: "\2022  "; 
  color: #C54409;
  font-weight: bold;
  width: 2em;
  }
  
.bullet-heading {
  color: #3a404a;
}
.chapter0_section .figure-number {
	color: #C54409 !important;
}

.chapter0_section .blockquote-left, .chapter0_section .blockquote-right {
  color:#C54409;
}

.chapter0_section .definition-left, .chapter0_section .definition-right {
    border-bottom: solid 15px #C54409;
}

.chapter0_section .imgsource-source, .figure-comment-start {
    color:#C54409;
}

.chapter0_section .figure-comment {
    border-bottom: solid 15px #dc8f6b;
}

.chapter0_section + h3 + #refs  a{
     color:  #C54409 !important;
}

/* Table 01 */

#table_01 {
  font-size:0.8em;
}

#table_01 th {
  padding:3px 5px !important;
  text-align:right;
  background:#daeef0;
  border-bottom: 1px solid #86858a;
  border-top: 1px solid #86858a;
  color:#3a404a;
  vertical-align:top;
}

#table_01 td {
  padding:3px 5px !important;
  text-align:right;
  background:white;
  border-bottom: 1px solid #C54409;
  color:black;
}

#table_01 .table_01_nr {
  text-align:left;
  font-weight:bold;
  color: #C54409 !important;
}

#table_01 .table_01_country {
    text-align:left;
}

#table_01 .table_01_est {
  font-weight:bold;
  color: #C54409 !important;
}

/* Table 02 */

#table_02 {
  font-size:0.8em;
  text-align:left;
}

#table_02 th {
  padding:5px 10px !important;
  background:#daeef0;
  border: 1px solid #86858a;
  color:#3a404a;
  vertical-align:top;
}

#table_02 td {
  padding:5px 10px !important;
  background:white;
  border: 1px solid #86858a;
  color:black;
  vertical-align:top;
}

#table_02 .table_02_red {
  font-weight:bold;
  color: #C54409 !important;
}

/* Chapter 1 - #482683 */

#eesti-elukeskkondade-mitmekesisus h1 {
  display:none;
}

.chapter1_section.intro_section::before{
	      background-image: url(figures/1-chapter/chapter1_cover.jpg);
	      background-attachment:fixed;
}

.chapter1_section h1{ 
  color: #482683 !important;
}

.chapter1_section a {
	color: #482683 !important;
}

.chapter1_section h2,
.chapter1_section h3
{
	color: #482683;
}

.chapter1_section .authors {
  border-bottom: 3px solid #482683;
  }

 .chapter1_section .authors a {
   color: black !important;
    text-decoration:underline !important;
 }
 
.chapter1_section .authors a:hover {
    color:#3a404a !important;
 }
 
 .chapter1_section a.print-btn {
  color: #e6e3da !important;
  text-decoration:none !important;
}

.chapter1_section a.print-btn:hover {
  border: solid 2px #482683;
  color: #482683 !important;
}

 .chapter1_section a.data-btn {
  color: #e6e3da !important;
  text-decoration:none !important;
}

.chapter1_section a.data-btn:hover {
  border: solid 2px #482683;
  color: #482683 !important;
}

.chapter1_section .figure-number {
	color:  #482683 !important;
}

.chapter1_section .blockquote-left, .chapter1_section .blockquote-right {
  color:#482683;
}

.chapter1_section .definition-left, .chapter1_section .definition-right {
    border-bottom: solid 15px #482683;
}

.chapter1_section .casebox {
    background-color: #e6e3da;
    border-bottom: solid 15px #a28dbc;
}

.chapter1_section .imgsource-source, .chapter1_section .figure-comment-start {
  color:#482683;
}

.chapter1_section .figure-comment {
    border-bottom: solid 15px #917DB5;
}

/* Table 111 */

#table_111 {
  text-align:center;
  font-size:0.9em;
}

@media only screen and (max-width: 768px) {
  #table_111 {
    font-size:0.65em;
  }
}

#table111_header_main {
  color: #369B9E !important;
}
#table_111 tr {
  border: none;
}

#table_111 th {
  color:#482683;
  transform: rotate(-70deg);
  border-top: none;
  border-bottom: solid 1px #482683;
  padding:0 0 10px 0;
}

#table_111 td {
  background-color:white;
  border-left: solid 1px #e6e3da;
  border-right: solid 1px #e6e3da;
  border-top: none;
  border-bottom: solid 2px #917DB5;
  vertical-align: top;
  padding:10px 0 10px 0;
  width:50px;
  font-weight:600;
}

/* Table 141 */

#table_141 {
  text-align:left;
}

#table_141 tr {
  border: none;
}

#table_141 td {
  background-color:white;
  border-bottom: solid 1px #e6e3da;
  vertical-align: top;
}

#table_141 th {
  color:#482683;
  border-top: solid 2px #482683;
  border-bottom: solid 2px #482683;
  background-color: #e6e3da;
}

#table_141 .table141_main_header {
  background-color: white !important;
  border-top: none !important;
}

/* Chapter 2 - #369B9E */

#avalik-linnaruum h1 {
  display:none;
}

.chapter2_section.intro_section::before{
	      background-image: url(figures/2-chapter/chapter2_cover.jpg);
	      background-attachment:fixed;
}

.chapter2_section h1{ 
  color: white;
}

.chapter2_section .authors {
  border-bottom: 3px solid #369B9E;
  }

.chapter2_section h2,
.chapter2_section h3
{
	color: #369B9E;
}

.chapter2_section a {
	color: #369B9E !important;
}

 .chapter2_section .authors a {
   color: black !important;
    text-decoration:underline !important;
 }
 
  .chapter2_section .authors a:hover {
    color:#3a404a !important;
 }

 .chapter2_section a.print-btn {
  color: #e6e3da !important;
  text-decoration:none !important;
}

.chapter2_section a.print-btn:hover {
  border: solid 2px #369B9E;
  color: #369B9E !important;
}

 .chapter2_section a.data-btn {
  color: #e6e3da !important;
  text-decoration:none !important;
}

.chapter2_section a.data-btn:hover {
  border: solid 2px #369B9E;
  color: #369B9E !important;
}

.chapter2_section .figure-number {
	color: #369B9E !important;
}

.chapter2_section .blockquote-left, .chapter2_section .blockquote-right  {
  color:#369B9E;
}

.chapter2_section .definition-left, .chapter2_section .definition-right {
    border-bottom: solid 15px #369B9E;
}
.chapter2_section .casebox {
    background-color: #e6e3da;
    border-bottom: solid 15px #369B9E;
}

.chapter2_section .imgsource-source, .chapter2_section .figure-comment-start {
  color:#369B9E;
}

.chapter2_section .figure-comment {
    border-bottom: solid 15px #369B9E;
}

/* Chapter 3 - #79AC2C */

#looduskeskkond-kui-avalik-hüve h1 {
  display:none;
}

.chapter3_section.intro_section::before{
	      background-image: url(figures/3-chapter/chapter3_cover.jpg);
	      background-attachment:fixed;
}

.chapter3_section h1{ 
  color: white;
}

.chapter3_section .authors {
  border-bottom: 3px solid #79AC2C;
  }
  
.chapter3_section h2,
.chapter3_section h3
{
	color: #79AC2C;
}

.chapter3_section a {
	color: #79AC2C !important;
}

 .chapter3_section .authors a {
   color: black !important;
    text-decoration:underline !important;
 }
 
.chapter3_section .authors a:hover {
    color:#3a404a !important;
 }
 
.chapter3_section a.print-btn {
  color: #e6e3da !important;
  text-decoration:none !important;
}

.chapter3_section a.print-btn:hover {
  border: solid 2px #79AC2C;
  color: #79AC2C !important;
}

.chapter3_section a.data-btn {
  color: #e6e3da !important;
  text-decoration:none !important;
}

.chapter3_section a.data-btn:hover {
  border: solid 2px #79AC2C;
  color: #79AC2C !important;
}

.chapter3_section .figure-number {
	color: #79AC2C !important;
}

.chapter3_section .blockquote-left, .chapter3_section .blockquote-right {
  color:#79AC2C;
}

.chapter3_section .definition-left, .chapter3_section .definition-right {
    border-bottom: solid 15px #79AC2C;
}

.chapter3_section .casebox {
    background-color: #e6e3da;
    border-bottom: solid 15px #79AC2C;
}

.chapter3_section .imgsource-source, .chapter3_section .figure-comment-start {
  color:#79AC2C;
}

.chapter3_section .figure-comment {
    border-bottom: solid 15px #79AC2C;
}

/* Table 341 */

#table_341 {
  text-align:left;
  font-size:0.75em;
}

@media only screen and (max-width: 768px) {
  #table_341 {
    font-size:0.7em;
  }
}

#table_341 tr {
  border: none;
  background: white;
}

#table_341 th {
  border: solid 1px #482683;
}

#table_341 td {
  border: solid 1px #482683;
  background-color: white;
  font-weight:600;
}

.table_341_blank {
  border: none !important;
  text-align:center;
  background-color:none !important;
}

#table_341 .table_341_vertical {
  transform: rotate(-90deg);
  padding: -5px !important;
}
.table341_dark_green  {
  background-color:#547a1f;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-weight:600;
}

.table341_green  {
  background-color:#79AC2C;
  color: white;
}

.table341_purple  {
  background-color:#c1aed5 !important;
  vertical-align: middle;
  font-weight:600;
}

/* Chapter 4 - #BC9417 */

#eesti-aruteluruum h1 {
  display:none;
}


.chapter4_section.intro_section::before{
	      background-image: url(figures/4-chapter/chapter4_cover.jpg);
	      background-attachment:fixed;
}

.chapter4_section h1{ 
  color: #BC9417;
}

.chapter4_section .authors {
  border-bottom: 3px solid #BC9417;
  }
  
.chapter4_section h2,
.chapter4_section h3
{
	color: #BC9417;
}

.chapter4_section a {
	color: #BC9417 !important;
}

 .chapter4_section .authors a {
   color: black !important;
    text-decoration:underline !important;
 }
 
  .chapter4_section .authors a:hover {
    color:#3a404a !important;
 }
 
 .chapter4_section a.print-btn {
  color: #e6e3da !important;
  text-decoration:none !important;
}

.chapter4_section a.print-btn:hover {
  border: solid 2px #BC9417;
  color: #BC9417 !important;
}

 .chapter4_section a.data-btn {
  color: #e6e3da !important;
  text-decoration:none !important;
}

.chapter4_section a.data-btn:hover {
  border: solid 2px #BC9417;
  color: #BC9417 !important;
}
 
.chapter4_section .figure-number {
	color: #BC9417 !important;
}

.chapter4_section .blockquote-left, .chapter4_section .blockquote-right {
  color:#BC9417;
}

.chapter4_section .definition-left, .chapter4_section .definition-right {
    border-bottom: solid 15px #BC9417;
}

.chapter4_section .casebox {
    background-color: #e6e3da;
    border-bottom: solid 15px #BC9417;
}

.chapter4_section .imgsource-source, .chapter4_section .figure-comment-start {
  color:#BC9417;
}

.chapter4_section .figure-comment {
    border-bottom: solid 15px #BC9417;
}

/* Chapter 5 - #A01B17 */

#eesti-elukeskkond-aastal-2050 h1 {
  display:none;
}

.chapter5_section.intro_section::before{
	      background-image: url(figures/5-chapter/chapter5_cover.jpg);
	      background-attachment:fixed;
}

.chapter5_section h1{ 
  color: #A01B17;
}

.chapter5_section .authors {
  border-bottom: 3px solid #A01B17;
  }
  
.chapter5_section h2,
.chapter5_section h3,
.chapter5_section h4
{
	color: #A01B17;
}

.chapter5_section a {
	color: #A01B17 !important;
}

 .chapter5_section .authors a {
   color: black !important;
    text-decoration:underline !important;
 }
 
  .chapter5_section .authors a:hover {
    color:#3a404a !important;
 }

.chapter5_section a.print-btn {
  color: #e6e3da !important;
  text-decoration:none !important;
}

.chapter5_section a.print-btn:hover {
  border: solid 2px #A01B17;
  color: #A01B17 !important;
}

.chapter5_section a.data-btn {
  color: #e6e3da !important;
  text-decoration:none !important;
}

.chapter5_section a.data-btn:hover {
  border: solid 2px #A01B17;
  color: #A01B17 !important;
}

.chapter5_section .figure-number {
	color: #A01B17 !important;
}

.chapter5_section .blockquote-left, .chapter5_section .blockquote-right {
  color:#A01B17;
}

.chapter5_section .definition-left, .chapter5_section .definition-right {
    border-bottom: solid 15px #A01B17;
}

.chapter5_section .imgsource-source, .chapter5_section .figure-comment-start {
  color:#A01B17;
}


.chapter5_section .figure-comment {
    border-bottom: solid 15px #A01B17;
}

.chapter5_section .casebox {
    background-color: #e4f4f7;
    border-bottom: solid 15px #A01B17;
}

.chapter5_section .bullet-heading::before{
  color:#A01B17;
}

.future_section img {
  margin-top:50px !important;
  margin-bottom:50px !important;
}


.future_section h2 {
  text-transform:uppercase;
  color:#482683 !important;
  border-top:solid 2px #A01B17;
  border-bottom:solid 2px #A01B17;
  padding-top:15px;
  padding-bottom:15px;
}

.future-table {
margin-top:50px !important;
 margin-bottom:100px !important;
}

.future-table tr {
  border:none;
  border-bottom:solid 1px #e6e3da;
}
.future-table td {
  border:none;
  background-color:white;
}

.future-table-red {
  font-weight:bold;
  color:#A01B17;
}

.future-table-black {
  font-weight:bold;
  color:#3a404a;
}

.future-illustration {
  bottom:0;
  width:100%;
}

/* Chapter 6 - Authors #96CBD2 */

.chapter6 h1{ 
  border-bottom: 3px solid #96CBD2; 
  font-size: 4.5em !important; text-transform: uppercase; line-height: 1em;
  margin-bottom:0.5em !important;
  margin-top:50px !important;
}


@media only screen and (max-width: 768px) {

.chapter6 h1 {
  font-size:3em !important;
}
}

@media only screen and (max-width: 576px) {
.chapter6 h1 {
  font-size:2em !important;
  margin-top:65px !important;
}
}

.chapter6_section .authors {
  border-bottom: 3px solid #96CBD2;
  }
  
.chapter6_section a.print-btn {
  color: #e6e3da !important;
  text-decoration:none !important;
}

.chapter6_section a.print-btn:hover {
  border: solid 2px #96CBD2;
  color: #96CBD2 !important;
}
  
.chapter6_section h2,
.chapter6_section h3
{
	color: #96CBD2;
}

.chapter6_section a {
	color: #96CBD2 !important;
}

.author-container {
  margin-bottom:75px;
  font-size:0.9em;
  display:grid;
  grid-column-gap:50px;
  grid-template-columns: 200px auto;
}

.author-container img {
  width:100%;
  border-top-left-radius:30px;
  margin:0;
  padding:0;
}
.author-container h4 { 
  size:1em;
  margin-top:0 !important;
  padding-top:0;
}

.head-editor-name {
    color: #246AAF;
}

.editor-name {
    color: #246AAF !important;
}

.author-name {
    color: #5D782E !important;
}

@media only screen and (max-width: 576px) {
    .author-container {
      display:block;
      padding-top:55px;
    }
    
    .author-img-container {
    width:100%;
    margin:auto;
}
}

/* Chapter 7 - INFO #a8aca6 */


.chapter7 h7{ border-bottom: 3px solid #a8aca6; }

.chapter7 h1{ 
  border-bottom: 3px solid #a8aca6; 
  font-size: 4.5em !important; text-transform: uppercase; line-height: 1em; 
  margin-bottom:0.5em !important;
  margin-top:50px !important;
}

@media only screen and (max-width: 768px) {

.chapter7 h1 {
  font-size:3em !important;
}
}

@media only screen and (max-width: 576px) {
.chapter7 h1 {
  font-size:2em !important;
  margin-top:65px !important;
}
}
  

.chapter7_section h2,
.chapter7_section h3
{
	color: #a8aca6;
}

.chapter7_section a {
	color: #a8aca6 !important;
}

