@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&subset=cyrillic');


*{
	font-family: 'Montserrat', sans-serif;
}

BODY{}

/* scrollbar */

::-webkit-scrollbar-track{
	background-color: #FFF;
}
::-webkit-scrollbar{
	width: 12px;
	border: none;
	background-color: #EEE;
}
::-webkit-scrollbar-thumb{
	background-color: #CCC;
	border: none;
}

/* interactive map override */

.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(images/layers-2x.png) !important;
    background-size: 26px 26px !important;

/* page layout */

p {
  text-align:left;
  margin-top:0;
}

.page-inner{
  width:100% !important;
  max-width:none !important;
  padding:0 !important;
}

.page-inner section {
  padding:0 !important;
  color:black;
}

.chapter_section {
  max-width:800px;
  margin:auto;
  padding:0 42px 0 42px;
}

.intro_section {
  max-width:800px;
  margin:auto;
  padding:0 42px 0 42px;
}

/* references layout */

.references {
  max-width:800px;
  margin:auto;
  padding:0 42px 0 42px;
}

.chapter_section + h3 {
  display:none;
}

/* supress code output */
.chapter_section pre {
  display: none;
}

h1{ font-size: 4em !important; text-transform: uppercase; line-height: 1em; }
h2{ max-width: 100%; }
h3{ max-width: 100%; }

.book .book-body .page-wrapper .page-inner section.normal h1{
	padding-bottom: 0.2em; margin: 0 0 0.3em 0;
}
.book .book-body .page-wrapper .page-inner section.normal h2{
	font-size: 2em;
	line-height: 1.2em;
	font-weight: bold !important;
}

.book .book-header h1{ display: none; }

/* menu */

nav > ul > li > a{
	font-weight: bold;
	text-transform: uppercase;
}
nav > ul > li > a b{ display: none; }

nav > ul > li{
	*border-bottom: 1px solid #CCC;
}

.book .book-summary ul.summary a{ font-weight: 500;}
.book .book-summary ul.summary a b{ padding-right: 5px; }

.book .book-summary ul.summary > li.chapter > a{
	font-size: 1.2em;
	white-space: normal;
}
.book .book-summary ul.summary > li.chapter:nth-child(1) > a{ color: #C54409; border-bottom: 2px solid #C54409; }
.book .book-summary ul.summary > li.chapter:nth-child(2) > a{ color: #482683; border-bottom: 2px solid #482683; }
.book .book-summary ul.summary > li.chapter:nth-child(3) > a{ color: #369B9E; border-bottom: 2px solid #369B9E; }
.book .book-summary ul.summary > li.chapter:nth-child(4) > a{ color: #79AC2C; border-bottom: 2px solid #79AC2C; }
.book .book-summary ul.summary > li.chapter:nth-child(5) > a{ color: #BC9417; border-bottom: 2px solid #BC9417; }
.book .book-summary ul.summary > li.chapter:nth-child(6) > a{ color: #A01B17; border-bottom: 2px solid #A01B17; }
.book .book-summary ul.summary > li.chapter:nth-child(7) > a{ color: #96CBD2; border-bottom: 2px solid #96CBD2; }

.book .book-summary ul.summary > li.chapter:nth-child(1) > ul > li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(1) > ul ul li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(1) a:hover{ color: #C54409; }
.book .book-summary ul.summary > li.chapter:nth-child(2) > ul > li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(2) > ul ul li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(2) a:hover{ color: #482683; }
.book .book-summary ul.summary > li.chapter:nth-child(3) > ul > li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(3) > ul ul li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(3) a:hover{ color: #369B9E; }
.book .book-summary ul.summary > li.chapter:nth-child(4) > ul > li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(4) > ul ul li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(4) a:hover{ color: #79AC2C; }
.book .book-summary ul.summary > li.chapter:nth-child(5) > ul > li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(5) > ul ul li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(5) a:hover{ color: #BC9417; }
.book .book-summary ul.summary > li.chapter:nth-child(6) > ul > li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(6) > ul ul li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(6) a:hover{ color: #A01B17; }
.book .book-summary ul.summary > li.chapter:nth-child(7) > ul > li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(7) > ul ul li.active > a,
.book .book-summary ul.summary > li.chapter:nth-child(7) a:hover{ color: #96CBD2; }



.book .book-summary ul.summary > li.chapter:nth-child(1) a b{ color: #C54409; }
.book .book-summary ul.summary > li.chapter:nth-child(2) a b{ color: #482683; }
.book .book-summary ul.summary > li.chapter:nth-child(3) a b{ color: #369B9E; }
.book .book-summary ul.summary > li.chapter:nth-child(4) a b{ color: #79AC2C; }
.book .book-summary ul.summary > li.chapter:nth-child(5) a b{ color: #BC9417; }
.book .book-summary ul.summary > li.chapter:nth-child(6) a b{ color: #A01B17; }
.book .book-summary ul.summary > li.chapter:nth-child(7) a b{ color: #96CBD2; }


.book .book-summary ul.summary > li > ul{ padding: 0; }
.book .book-summary ul.summary > li > ul > li a{
      white-space: normal;
}

h1 .header-section-number{ display: none; }

.book .book-summary{
	background: none;
}


h2 .header-section-number{
	display: block;
	color: #E6E3D9;
	font-size: 3em;
	line-height: 1em;
}

h3 .header-section-number{
	color: inherit;
	font-size: 1em;
	line-height: 1em;
}

/* title page */

.title {
  display:none !important;
}

/* Block before intro sections */
.intro_section::before{
  
        content: "";
	      width: 100%;
	      display: block;
	      height: 55vh;
	      background-position: center;
	      background-repeat: no-repeat;
	      background-size: auto 100%;
}

/* Big headers */
.intro_section h1 { 
  margin:auto;
  padding:15px 15px 0 15px;}
  
/* authors */
  .authors {
  font-size:1.2em;
  color: black;
  margin-top:-10px;
  margin-bottom: 20px;
}

/* points */
  .points {
    margin-bottom:5em;
    font-size:1.1em;
    color: #3a404a;
  }
  
  .points ul {
    list-style-type: disc;
  }
  
  .points li {
    padding:0 0 8px 0;
    font-weight:bold;
  }
  
    .points li p {
    text-align:left;
  }
  
  /* first letters */
 /* .chapter_section p:first-of-type::first-letter {
    color:#a7aca5;
    font-size:7em;
    line-height: 0.63em;
    float:left;
    margin: 10px 1px 0 0;
    font-weight:300;
  }
  
    .points p::first-letter, .authors p::first-letter, .blockquote-left p::first-letter,.blockquote-right p::first-letter,.definition-left p::first-letter,.definition-right p::first-letter, .casebox p::first-letter, .subreferences p::first-letter, .imgsource p::first-letter {
    color:inherit !important;
     font-size:inherit !important;
     margin:0 !important;
     float:none !important;
  }
  
  .chapter_section .figure p::first-letter {
    color:#777777;
    font-size:inherit;
    margin:0;
    float:none;
  }
  
/* blockquote */
  .blockquote-left {
  display:inline-block;
  float:left;
  max-width:400px;
  border-bottom: solid 10px #a7aca5;
  font-size:1.3em;
  margin:20px 15px 20px -33px;
}

.blockquote-left p {
  text-align: left !important;
  line-height: normal;
  font-weight:500;
}
  
.blockquote-right {
  display:inline-block;
  float:right;
  max-width:400px;
  border-bottom: solid 10px #a7aca5;
  font-size:1.3em;
  margin:20px -33px 20px 15px;
}

.blockquote-right p {
  text-align: left !important;
  line-height: normal;
  font-weight:500;
}
  
  /* definition box */
  /*.definition-left {
  display:inline-block;
  float:left;
  max-width:400px;
  font-size:1em;
  margin:10px 15px 10px -33px;
  padding: 17px 20px 8px 20px;
  font-weight:600;
  background-color:#262d36;
  color:white;
  border-top-left-radius:15px;
}

.definition-left p {
  text-align: left !important;
  line-height: normal;
}

  
.definition-right {
  display:inline-block;
  float:right;
  max-width:400px;
  font-size:1em;
  margin:10px -33px 10px 15px;
  padding: 17px 20px 8px 20px;
  font-weight:600;
  background-color:#262d36;
  color:white;
  border-top-right-radius:15px;
}

.definition-right p {
  text-align: left !important;
  line-height: normal;} /*
  
/* casebox */
.casebox {
    padding: 25px 25px 15px 25px;
    margin: 20px -30px 30px -30px;
    border-top-left-radius:15px;
    font-weight:medium;
}
.casebox h3 {
    margin-top: 1em;
}
/* figure caption */
p.caption {
  color: #3a404a;
  margin-top: 3em !important;
  font-weight:500;
}

/* image source */

.imgsource {
  color:#86858a;
  margin-top:0;
  margin-bottom:3em;
  font-size:0.8em;
}

/* figure comment */

.figure-comment {
  margin-top:0;
  font-size:1em;
}

/* subreferences */

.subreferences {
  margin-top:4em;
  border-top:solid 5px #e6e3da;
}
.subreferences h3 {
  margin-top:1em;
  color:#3a404a !important;
  margin-bottom:3em;
}

.subreferences p {
  text-align:left;
}

/* Chapter 0 - INTRO  #C54409 */

.chapter0.intro_section::before{
        background-color: #C54409;
	      *background-image: url();
}

.chapter0 h1{ 
  border-bottom: 3px solid #C54409;
}

.chapter0_section .authors {
  border-bottom: 3px solid #C54409;
  }
  
.chapter0_section h2,
.chapter0_section h3
{
	color: #C54409;
}

.chapter0_section a {
	color: #C54409 !important;
}

.chapter0_section .figure-number {
	color: #C54409 !important;
}

.chapter0_section .blockquote-left, .chapter0_section .blockquote-right {
  color:#C54409;
}

.chapter0_section .definition-left, .chapter0_section .definition-right {
    border-bottom: solid 15px #C54409;
}

.chapter0_section .imgsource-source, .figure-comment-start {
    color:#C54409;
}

.chapter0_section .figure-comment {
    border-bottom: solid 15px #dc8f6b;
}

.chapter0_section + h3 + #refs  a{
     color:  #C54409 !important;
}

/* Chapter 1 - #482683 */

.chapter1.intro_section::before{
        background-color: #482683;
	      background-image: url(images/);
}

.chapter1 h1{ border-bottom: 3px solid #482683; }

#chapter1_intro_block {
  background-color:#482683;
  width:100%;
}

.chapter1_section .authors {
  border-bottom: 3px solid #482683;
  }
  
.chapter1_section h2,
.chapter1_section h3
{
	color: #482683;
}

.chapter1_section a {
	color: #482683 !important;
}

.chapter1_section .figure-number {
	color:  #482683 !important;
}

.chapter1_section .blockquote-left, .chapter1_section .blockquote-right {
  color:#482683;
}

.chapter1_section .definition-left, .chapter1_section .definition-right {
    border-bottom: solid 15px #482683;
}

.chapter1_section .casebox {
    background-color: #e6e3da;
    border-bottom: solid 15px #a28dbc;
}

.chapter1_section .imgsource-source, .chapter1_section .figure-comment-start {
  color:#482683;
}

.chapter1_section .figure-comment {
    border-bottom: solid 15px #917DB5;
}

/* Chapter 2 - #369B9E */

.chapter2.intro_section::before{
        background-color: #369B9E;
	      background-image: url(../images/);
}

.chapter2 h1{ border-bottom: 3px solid #369B9E; }

.chapter2_section .authors {
  border-bottom: 3px solid #369B9E;
  }

.chapter2_section h2,
.chapter2_section h3
{
	color: #369B9E;
}

.chapter2_section a {
	color: #369B9E !important;
}

.chapter2_section .figure-number {
	color: #369B9E !important;
}

.chapter2_section .blockquote-left, .chapter2_section .blockquote-right  {
  color:#369B9E;
}

.chapter2_section .definition-left, .chapter2_section .definition-right {
    border-bottom: solid 15px #369B9E;
}
.chapter2_section .casebox {
    background-color: #e6e3da;
    border-bottom: solid 15px #369B9E;
}

.chapter2_section .imgsource-source, .chapter2_section .figure-comment-start {
  color:#369B9E;
}

.chapter2_section .figure-comment {
    border-bottom: solid 15px #369B9E;
}

/* Chapter 3 - #79AC2C */

.chapter3.intro_section::before{
        background-color: #79AC2C;
	      background-image: url(../images/);
}

.chapter3 h1{ border-bottom: 3px solid #79AC2C; }

.chapter3_section .authors {
  border-bottom: 3px solid #79AC2C;
  }
  
.chapter3_section h2,
.chapter3_section h3
{
	color: #79AC2C;
}

.chapter3_section a {
	color: #79AC2C !important;
}

.chapter3_section .figure-number {
	color: #79AC2C !important;
}

.chapter3_section .blockquote-left, .chapter3_section .blockquote-right {
  color:#79AC2C;
}

.chapter3_section .definition-left, .chapter3_section .definition-right {
    border-bottom: solid 15px #79AC2C;
}

.chapter3_section .casebox {
    background-color: #e6e3da;
    border-bottom: solid 15px #79AC2C;
}

.chapter3_section .imgsource-source, .chapter3_section .figure-comment-start {
  color:#79AC2C;
}

.chapter3_section .figure-comment {
    border-bottom: solid 15px #79AC2C;
}

/* Chapter 4 - #BC9417 */

.chapter4.intro_section::before{
        background-color: #BC9417;
	      background-image: url(../images/chapter4.png);
}

.chapter4 h1{ border-bottom: 3px solid #BC9417; }

.chapter4_section .authors {
  border-bottom: 3px solid #BC9417;
  }
  
.chapter4_section h2,
.chapter4_section h3
{
	color: #BC9417;
}

.chapter4_section a {
	color: #BC9417 !important;
}

.chapter4_section .figure-number {
	color: #BC9417 !important;
}

.chapter4_section .blockquote-left, .chapter4_section .blockquote-right {
  color:#BC9417;
}

.chapter4_section .definition-left, .chapter4_section .definition-right {
    border-bottom: solid 15px #BC9417;
}

.chapter4_section .casebox {
    background-color: #e6e3da;
    border-bottom: solid 15px #BC9417;
}

.chapter4_section .imgsource-source, .chapter4_section .figure-comment-start {
  color:#BC9417;
}

.chapter4_section .figure-comment {
    border-bottom: solid 15px #BC9417;
}

/* Chapter 5 - #A01B17 */

.chapter5.intro_section::before{
        background-color: #A01B17;
	      background-image: url(../images/);
}

.chapter5 h1{ border-bottom: 3px solid #A01B17; }

.chapter5_section .authors {
  border-bottom: 3px solid #A01B17;
  }
  
.chapter5_section h2,
.chapter5_section h3
{
	color: #A01B17;
}

.chapter5_section a {
	color: #A01B17 !important;
}

.chapter5_section .figure-number {
	color: #A01B17 !important;
}

.chapter5_section .blockquote-left, .chapter5_section .blockquote-right {
  color:#A01B17;
}

.chapter5_section .definition-left, .chapter5_section .definition-right {
    border-bottom: solid 15px #A01B17;
}

.chapter5_section .imgsource-source, .chapter5_section .figure-comment-start {
  color:#A01B17;
}


.chapter5_section .figure-comment {
    border-bottom: solid 15px #A01B17;
}

/* Chapter 6 - Authors #96CBD2 */

.chapter6.intro_section::before{
        background-color: #96CBD2;
	      background-image: url(../images/);
}

.chapter6 h1{ border-bottom: 3px solid #96CBD2; }

.chapter6_section .authors {
  border-bottom: 3px solid #96CBD2;
  }
  
.chapter6_section h2,
.chapter6_section h3
{
	color: #96CBD2;
}

.chapter6_section a {
	color: #96CBD2 !important;
}

.author-container {
  margin-top:75px;
  font-size:0.9em;
  display:grid;
  grid-column-gap:50px;
  grid-template-columns: 200px auto;
}

.author-container img {
  width:100%;
  border-top-left-radius:30px;
  margin:0;
  padding:0;
}
.author-container h4 { 
  size:1em;
  margin-top:0 !important;
  padding-top:0;
}

.head-editor-name {
    color: #246AAF;
}

.editor-name {
    color: #7F6498 !important;
}

.author-name {
    color: #5D782E !important;
}

@media only screen and (max-width: 576px) {
    .author-container {
      display:block;
      justify-content:center;
    }
    
    .author-container img {
    max-width:300px !important;
    margin:auto;
}
}
